body{
    top: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*-NAV-*/
nav{
    top: 0;
    left: 0;

    background-color: #333;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1, div{
    margin: 0 20px;
}

.ancoras-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.ancoras-nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
}

nav h1{
    color: white;
}

.ancoras-nav a:hover{
    color: #4ade80;
    background-color: rgba(74, 222, 128, 0.1);
}

@media(max-width: 750px){
    nav{
        flex-direction: column;
    }
    .ancoras-nav{
        flex-direction: column;
    }
}

/*-MAIN-*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color: #1a472a;
}

main h1{
    color: white;
}
main a{
    color: #1a472a;
    text-decoration: none;
    padding: 1rem;
    background-color: #4ade80;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s all;
}

main a:hover{
    box-shadow: #4ade80;
    transform: translateY(-2px);
}

/*SOBRE*/
#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;

    margin: 0 20px;
}

#sobre h2{
    color: #1a472a;
    font-size: 2rem;
}

#conteudo-sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

#conteudo-sobre img{
    border-radius: 10px;
}

@media(max-width: 1200px){
    #conteudo-sobre{
        flex-direction: column-reverse;
    }
}